body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f0;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #8B4513; /* marrom */
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1, h2 {
    margin: 0;
}

.resumo, .video-principal, .video-secundarios, .cuidado-palavras, .historico-racismo, .povo-preto, .livros {
    margin: 20px;
    padding: 15px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.video-principal iframe, .video-secundarios iframe {
    width: 100%;
    max-width: 600px;
    height: 315px;
    margin: 10px 0;
}

.video-secundarios {
    display: flex;
    justify-content: space-around;
}

.video-container {
    display: flex;
    justify-content: space-between;
}

.video-container iframe {
    width: 30%;
    height: 200px;
}

.cuidado-palavras ul {
    list-style-type: none;
    padding: 0;
}

.historico-racismo {
    margin: 20px;
    padding: 15px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.historico-racismo article {
    margin-bottom: 15px;
}

.historico-racismo h3 {
    margin-top: 15px;
}

.livros {
    display: flex;
    justify-content: space-around;
}

.livro {
    max-width: 220px;
    text-align: center;
}

footer {
    background-color: #8B4513;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}