body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff5722; /* Laranja vibrante */
    color: white;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

h1, h2 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.resumo, .video-principal, .musicas, .criatividade, .historico-racismo, .depoimentos, .social-media {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video-principal iframe {
    width: 100%;
    max-width: 600px;
    height: 315px;
    margin: 10px 0;
    border-radius: 10px;
}

.musicas ul {
    list-style-type: none;
    padding: 0;
}

.musicas li {
    margin: 10px 0;
}

.galeria, .poesias {
    margin: 10px 0;
}

.depoimentos .testemunhos {
    margin: 10px 0;
}

.social-media {
    text-align: center;
    margin: 20px;
}

.social-media a {
    margin: 0 10px;
    color: #ff5722;
    text-decoration: none;
    font-size: 1.5em;
}

footer {
    background-color: #ff5722;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}