body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #6f4c3e; /* marrom escuro */
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1, h2 {
    margin: 0;
}

.resumo, .video-principal, .video-secundarios, .cuidado-palavras, .historico-racismo, .povo-preto, .livros {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(to right, #f5f5f5, #e0e0e0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video-principal iframe, .video-secundarios iframe {
    width: 100%;
    max-width: 600px;
    height: 315px;
    margin: 10px 0;
    border-radius: 10px;
}

.video-secundarios {
    display: flex;
    justify-content: space-around;
}

.video-container {
    display: flex;
    justify-content: space-between;
}

.video-container iframe {
    width: 30%;
    height: 200px;
    border-radius: 10px;
}

.cuidado-palavras ul {
    list-style-type: none;
    padding: 0;
}

.cuidado-palavras li {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.historico-racismo {
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.historico-racismo article {
    margin-bottom: 15px;
}

.historico-racismo h3 {
    margin-top: 15px;
}

.livros {
    display: flex;
    justify-content: space-around;
}

.livro {
    max-width: 220px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s;
}

.livro:hover {
    transform: translateY(-5px);
}

.livro img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

footer {
    background-color: #6f4c3e;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}